web-tools/e-periodica-access/data/fulltexts
web-tools/e-manuscripta-access/data/fulltexts
.ipynb_checkpoints
e-rara-access/.ipynb_checkpoints
e-manuscripta-access/.ipynb_checkpoints
e-periodica-access/.ipynb_checkpoints